@use 'font';
@use 'reset';

$white:#ffffff;
$black:#000000;
$dark-blue:#2557AB;
$dark:#13253A;
$light-orange:#FF7F57;
$near-white:#F4F6F7;


//max-width-margin of contents %margin-content extend in classes

%margin-content{
max-width: 1170px;
width: 100%;
margin: 0 auto;
padding: 4rem 0 14.5rem 0;

}


%button{
    background-color: white;
    border: none;
}

:root{
    font-family: font.$font-family;
    font-size: 10px;
}
// NavBar  Style
.header{
    background-color: $near-white;

&__inner-content{
    padding: 4rem 0 14.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @extend %margin-content;
  }
}
.main-nav{
    &__list{
        display: flex;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        margin: auto 2.5rem auto 2.5rem;
    }
    &__link{
        position: relative;
        text-decoration: none;
        color: $dark;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.2rem;
    }
}

