@use 'font';
@use 'reset';

$white:#ffffff;
$black:#000000;
$dark-blue:#2557AB;
$dark:#13253A;
$light-orange:#FF7F57;
$near-white:#F4F6F7;


//max-width-margin of contents %margin-content extend in classes

%margin-content{
max-width: 1170px;
width: 100%;
margin: 0 auto;

}


%button{
    background-color: white;
    border: none;
}

:root{
    font-family: font.$font-family;
    font-size: 10px;
}
// NavBar  Style
.header{
    background-color: $near-white;

&__inner-content{
    padding: 4rem 0 14.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @extend %margin-content;
  }

        &__main-nav-list{
         display: flex;
        }
        &__main-nav-item{
            display: flex;
            justify-content: space-between;
            margin: auto 2.5rem auto 2.5rem;
        }
        &__main-nav-link{
            position: relative;
            text-decoration: none;
            color: $dark;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.2rem;
        }
        &__main-nav-link::after {
            content: "";
             position: absolute;
             height: 2px;
             width: 0;
             left: 0;
             bottom: -3px;
             background-color: $light-orange;
             transition: all 0.5s ease-in-out;
         }
           
         &__main-nav-link:hover::after {
           width: 100%;
           transform: scale(1.1);
         }
         &__main-nav-link:hover{

            color: $light-orange;
         }
    }


// Banner Style
.banner{
    background-color: $near-white;
    &__inner-content{
         display: flex;
         gap: 13rem;
         align-items: center;
         padding-bottom: 18.8rem;
         @extend %margin-content;
    }
    &__sub{
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: $dark-blue;
        margin-bottom: 0.5rem;
    }
    h1{
        font-weight: 700;
        font-size: 4.6rem;
        line-height: 6.2rem;
        color: $dark;
        margin-bottom: 1rem;
    }
    &__paragraph{
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.7rem;
        color: $dark;
        margin-bottom: 2rem;
    }
    &__link{
        text-decoration: none;
        font-weight: 700;
        font-size: 1.7rem;
        line-height: 2.3rem;
        color: #fff;
        margin-bottom: 2rem;
        padding: 1.9rem 4.2rem;
        display: inline-block;
        background-color: $light-orange;
     }
    &__link:hover{
        transform: scale(0.9);
        color: $dark;
    }
}