/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer-bg .footer, .started__inner-content, .info__container, .about-us__container, .costumer__inner-content, .our-services__inner-content, .banner__inner-content, .header__inner-content {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.header {
  background-color: #F4F6F7;
}
.header__inner-content {
  padding: 4rem 0 14.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main-nav-list {
  display: flex;
}
.header__main-nav-item {
  display: flex;
  justify-content: space-between;
  margin: auto 2.5rem auto 2.5rem;
}
.header__main-nav-link {
  position: relative;
  text-decoration: none;
  color: #13253A;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2rem;
}
.header__main-nav-link:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -3px;
  background-color: #FF7F57;
  transition: 0.5s all ease-in-out;
}
.header__main-nav-link:hover::after {
  width: 100%;
}
.header__main-nav-link:hover:hover {
  color: #FF7F57;
}

.banner {
  background-color: #F4F6F7;
  border-bottom: 1px solid #DCE2E6;
}
.banner__inner-content {
  display: flex;
  gap: 13rem;
  align-items: center;
  padding-bottom: 18.8rem;
}
.banner__sub {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #2557AB;
  margin-bottom: 0.5rem;
}
.banner h1 {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 6.2rem;
  color: #13253A;
  margin-bottom: 1rem;
}
.banner__paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #13253A;
  margin-bottom: 2rem;
}
.banner__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #fff;
  margin-bottom: 2rem;
  padding: 1.9rem 4.2rem;
  display: inline-block;
  background-color: #FF7F57;
}
.banner__link:hover {
  transform: scale(0.9);
  color: #13253A;
}

.our-services {
  background-color: #F2F2F2;
}
.our-services__inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 12rem 0 10rem 0;
  background-color: #ffffff;
}
.our-services__sub-heading {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
  color: #2557AB;
}
.our-services__heading {
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 5.2rem;
  margin-bottom: 3rem;
  color: #13253A;
}
.our-services__layout {
  display: flex;
  width: 80%;
}
.our-services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem 0 1.5rem;
}
.our-services__item__image {
  margin-bottom: 2rem;
}
.our-services__item__heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 0.5rem;
  color: #13253A;
}
.our-services__item__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 0.5rem;
  color: #13253A;
  text-align: center;
}

.costumer {
  background-color: #F2F2F2;
}
.costumer__inner-content {
  padding: 6rem 0 6rem 0;
}
.costumer__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.costumer__item__unit {
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 6.3rem;
  color: #13253A;
}
.costumer span {
  color: #FF7F57;
  cursor: pointer;
}
.costumer span:hover {
  color: #2557AB;
}
.costumer__item__text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #2557AB;
}

.about-us {
  background-color: #F2F2F2;
}
.about-us__container {
  background-color: #ffffff;
  display: flex;
  gap: 6rem;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid #DCE2E6;
  padding: 10rem 0 10rem 0;
}
.about-us__sub-heading {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #2557AB;
}
.about-us__heading {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 5.2rem;
  margin-bottom: 3rem;
  color: #13253A;
}
.about-us__description {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
.about-us__description__what-we-do p:first-child {
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  line-height: 3rem;
  color: #13253A;
  width: 400px;
}
.about-us__description__what-we-do {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #13253A;
  /* margin-right: 1.5rem; */
  display: flex;
  gap: 2rem;
  /* padding-bottom: 4.7rem; */
  flex-direction: column;
}
.about-us__description__lorem {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #13253A;
}
.about-us__description__lorem p:first-child {
  margin-bottom: 3rem;
}
.about-us__layout {
  display: flex;
  margin-bottom: 10rem;
}
.about-us__list {
  display: flex;
  gap: 10rem;
  align-items: center;
}

.info {
  background-color: #F2F2F2;
}
.info__container {
  background-color: #ffffff;
  display: flex;
  gap: 10rem;
  padding: 10rem 0 10rem 0;
}
.info__text-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.info__text-part__heading {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 5.2rem;
  margin-bottom: 2rem;
  color: #13253A;
  width: 75%;
}
.info__text-part__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 2rem;
  color: #13253a;
}
.info__text-part__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info__text-part__item {
  margin: 1.2rem 0 1.2rem 0;
}

.started {
  background-color: #FF7F57;
}
.started__inner-content {
  text-align: center;
  padding: 10rem 0 10rem 0;
}
.started__sub-heading {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}
.started__heading {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 6.3rem;
  margin-bottom: 1rem;
  color: #ffffff;
}
.started__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 3rem;
  width: 90%;
  color: #ffffff;
}
.started__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.4rem;
  padding: 1.9rem 10.2rem;
  color: #ffffff;
  background-color: #2557AB;
  box-shadow: 2px 47px 21px -25px rgba(0, 0, 0, 0.44);
}
.started__link:hover {
  transform: scale(1.1);
  background-color: #13253A;
  color: #FF7F57;
}

.footer-bg {
  background-color: #11364E;
}
.footer-bg .footer {
  padding: 14rem 0 14rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-bg .footer__contact-heading {
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 5.2rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 3rem;
}
.footer-bg .footer__form__item {
  width: 37rem;
  margin-bottom: 4rem;
}
.footer-bg .footer__form__label {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #ffffff;
  padding-bottom: 1rem;
}
.footer-bg .footer__form__input {
  background-color: inherit;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  opacity: 0.25;
  width: 100%;
}
.footer-bg .footer__form__item {
  width: 37rem;
  margin-bottom: 4rem;
}
.footer-bg .footer__form__text-area {
  border-bottom: 1px solid #ffffff;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 500;
  color: #ffffff;
  width: 100%;
  opacity: 0.25;
}
.footer-bg .footer__copy-right {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: center;
  color: #ffffff;
  padding: 1.6rem 0 1.6rem 0;
  background: #13253A;
}

.footer-contact__button {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.3rem;
  padding: 1.9rem 10rem;
  color: #ffffff;
  background: #FF7F57;
  border: none;
}
.footer-contact__button:hover {
  color: #ffffff;
  background-color: #2557AB;
}

@media screen and (max-width: 990px) {
  .banner__inner-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5rem;
  }
  .banner__textual {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
@media screen and (max-width: 590px) {
  .banner__image {
    width: 80%;
  }
  .banner__link {
    padding: 0.9rem 0.2rem;
    display: inline-block;
    background-color: #FF7F57;
    border-radius: -16%;
    border: 1px solid blue;
    width: 79%;
    text-align: center;
  }
  .banner__paragraph {
    width: 80%;
  }
  .banner h1 {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .header__inner-content {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    background: #e4e4f4;
    padding: 20px 0 40px 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  .header__main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .header__main-nav-link {
    color: #1d29bf;
    width: 50%;
  }
  .banner__image {
    width: 79%;
    padding: 3rem;
  }
  .banner__link {
    padding: 0.9rem 0.2rem;
    display: inline-block;
    background-color: #FF7F57;
    width: 65%;
    border: 1px solid blue;
  }
  .banner__paragraph {
    width: 61%;
  }
  .banner h1 {
    width: 58%;
  }
}

/*# sourceMappingURL=index.css.map */
