/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about-us, .costumer__inner-content, .our-services__inner-content, .banner__inner-content, .header__inner-content {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.header {
  background-color: #F4F6F7;
}
.header__inner-content {
  padding: 4rem 0 14.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main-nav-list {
  display: flex;
}
.header__main-nav-item {
  display: flex;
  justify-content: space-between;
  margin: auto 2.5rem auto 2.5rem;
}
.header__main-nav-link {
  position: relative;
  text-decoration: none;
  color: #13253A;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2rem;
}
.header__main-nav-link:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -3px;
  background-color: #FF7F57;
  transition: 0.5s all ease-in-out;
}
.header__main-nav-link:hover::after {
  width: 100%;
}
.header__main-nav-link:hover:hover {
  color: #FF7F57;
}

.banner {
  background-color: #F4F6F7;
  border-bottom: 1px solid #DCE2E6;
}
.banner__inner-content {
  display: flex;
  gap: 13rem;
  align-items: center;
  padding-bottom: 18.8rem;
}
.banner__sub {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #2557AB;
  margin-bottom: 0.5rem;
}
.banner h1 {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 6.2rem;
  color: #13253A;
  margin-bottom: 1rem;
}
.banner__paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #13253A;
  margin-bottom: 2rem;
}
.banner__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #fff;
  margin-bottom: 2rem;
  padding: 1.9rem 4.2rem;
  display: inline-block;
  background-color: #FF7F57;
}
.banner__link:hover {
  transform: scale(0.9);
  color: #13253A;
}

.our-services {
  background-color: #F2F2F2;
}
.our-services__inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 12rem 0 10rem 0;
  background-color: #ffffff;
}
.our-services__sub-heading {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
  color: #2557AB;
}
.our-services__heading {
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 5.2rem;
  margin-bottom: 3rem;
  color: #13253A;
}
.our-services__layout {
  display: flex;
  width: 80%;
}
.our-services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem 0 1.5rem;
}
.our-services__item__image {
  margin-bottom: 2rem;
}
.our-services__item__heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 0.5rem;
  color: #13253A;
}
.our-services__item__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 0.5rem;
  color: #13253A;
  text-align: center;
}

.costumer {
  background-color: #F2F2F2;
  padding: 6rem 0 6rem 0;
}
.costumer__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.costumer__item__unit {
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 6.3rem;
  color: #13253A;
}
.costumer span {
  color: #FF7F57;
  cursor: pointer;
}
.costumer span:hover {
  color: #2557AB;
}
.costumer__item__text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #2557AB;
}

.about-us {
  padding: 10rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #DCE2E6;
  margin-bottom: 10rem;
}
.about-us__sub-heading {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #2557AB;
}
.about-us__heading {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 5.2rem;
  margin-bottom: 3rem;
  color: #13253A;
}
.about-us__description {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.about-us__description__what-we-do p:first-child {
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  line-height: 3rem;
  color: #13253A;
  margin-bottom: 3rem;
}
.about-us__description__what-we-do {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #13253A;
  margin-right: 1.5rem;
  padding-bottom: 4.7rem;
}
.about-us__description__lorem {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #13253A;
}
.about-us__layout {
  display: flex;
}
.about-us__list {
  display: flex;
  gap: 7rem;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
